<section class="" data-ng-init="sessCtrl.init(statsCtrl.parentType, statsCtrl.parent, statsCtrl.objFileInfo.pdfFile.page_tags);" data-ng-cloak>
  <%= render 'statistics/partials/sessions/filters' %>

  <div class="stat-header margin-top-15">
    <%= render 'statistics/partials/sessions/pagination' %>
  </div>
  <div class="listing margin-top-15 viewer-margin">
    <%= render 'statistics/partials/sessions/listing' %>
  </div>
  <div class="stat-header margin-top-15">
    <%= render 'statistics/partials/sessions/pagination' %>
  </div>
</section>