<section class="" data-ng-init="receiversCtrl.init(statsCtrl.parentType, statsCtrl.parent, statsCtrl.objFileInfo.pdfFile.page_tags);" data-ng-cloak>

  <%= render 'statistics/partials/receivers/filters' %>

  <div class="padding-270 margin-top-15">
    <%= render 'statistics/partials/receivers/pagination' %>
  </div>

  <div class="listing margin-top-15 viewer-margin">
    <%= render 'statistics/partials/receivers/listing' %>
  </div>

  <div class="padding-270 margin-top-15">
    <%= render 'statistics/partials/receivers/pagination' %>
  </div>
</section>